.form__button {
  border-radius: 8px;
  background-color: #3A6FF8;
  color: #fff;
  padding: 16px 70px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.form__button:hover {
  opacity: 0.8;
}

.form__button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
