.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layout__image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  background: url('/images/auth-background.jpg') no-repeat;
  background-size: cover;
}

.layout__page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B2028;
}
