.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layout__image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  background: url('/images/auth-background.jpg') no-repeat;
  background-size: cover;
}

.layout__page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B2028;
}

.login__container {
  display: flex;
  flex-direction: column;
}

.login__heading {
  text-align: center;
}

.login__form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form-control {
  width: 450px;
}
