<div class="block__start">
  <!-- Лого -->
  <div class="start__logo">
    <img ngSrc="images/logo.svg" width="170" height="41" alt="logo">
  </div>

  <!-- Сайдбар меню -->
  <div class="start__menu">
    @for (item of navLinks; track item.id) {
      <app-nav-button
        class="start__dashboard-button"
        [text]="item.text"
        [iconUrl]="item.iconUrl"
        [iconUrlActive]="item.iconUrlActive"
        [routerLink]="item.link"
        routerLinkActive="active"
      ></app-nav-button>
    }
    <!--
    routerLinkActive в Angular автоматически добавляет CSS‑класс active к элементу,
    когда текущий маршрут (URL в браузере) совпадает с маршрутом, указанным в routerLink.
    Это нужно для визуального выделения активной ссылки — например, чтобы подсветить текущий пункт меню.
    -->
  </div>

  <!-- Кнопка выхода -->
  <div class="start__exit-link">
    <app-nav-button
      class="start__logout-button"
      text="Выход"
      iconUrl="icons/menu/logout.svg"
      iconUrlActive="icons/menu/logout.svg"
      (click)="onLogoutClick()"
    ></app-nav-button>

  </div>
</div>

<!-- Навбар -->
<div class="block__end">
  <div class="end__nav">
    <p appFontWeight fontWeight="bold">header</p>
  </div>

  <!-- Контент страницы -->
  <div class="end__container">
    <router-outlet></router-outlet>
  </div>
</div>
