
<div class="form__control">
  <div class="form__icon">
    <img [src]="iconUrl" width="30" height="30" alt="icon">
  </div>
  <input
    class="form__input"
    [type]=type
    [placeholder]="placeholder"
    [disabled]="disabled"
    [(ngModel)]="value"
    (input)="onInput($any($event.target).value)"
  />
  <div class="form__button--container">
    <button class="form__button" (click)="onButtonToggleClick()">
      <img [src]="buttonIcon"  width="30" height="30" [alt]="type">
    </button>
  </div>
<!--  <div class="form__icon" (click)="onEye($any($event.target).value)" >-->
<!--    @if(isEyeClose) {-->
<!--      <img [src]="iconUrlEyeClosed" width="30" height="30" alt="iconUrlEyeClosed">-->
<!--    } @else {-->
<!--      <img [src]="iconUrlEyeOpen" width="30" height="30" alt="iconUrlEyeOpen">-->
<!--    }-->
<!--  </div>-->

</div>

