.form__control {
  display: flex;
  align-items: center;
  background-color: #2b2f3a;
  border-radius: 12px;
  padding: 12px 6px 12px 12px;
}

.form__input {
  display: flex;
  align-items: center;
  background-color: #2b2f3a;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #b0b0b0;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.form__input::placeholder {
  color: #b0b0b0;
  opacity: 0.7;
}

.form__icon {
  width: 30px;
  height: 30px;
  padding-right: 1rem;
}

.form__icon--image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.7);
}

.form__button {
  cursor: pointer;
  background: transparent;
  border: none;
}
