@if(data) {
  <div class="asset__card">
    <div class="asset__icon">
      <img [ngSrc]="data.logoUrl" width="24" height="24" [alt]="data.assetId">
    </div>
    <div class="asset__name">
      <span class="asset_name--full">{{ data.assetName }}</span>
      <span class="asset_name--short">{{ data.assetId }}</span>
    </div>
    <div class="asset__value">{{ data.value }} {{ data.assetId | uppercase }}</div>
    <div class="fiat__value">{{ data.valueInFiat  }} $ </div>
    <div class="asset__rate"
    [ngClass]="{
    'asset__rate--success': data.rateChange > 0,
    'asset__rate--danger': data.rateChange <= 0,
    }" >
      {{ data.rateChange !== 0 ? `${data.rateChange}%`: `0` }}
    </div>
    <div class="asset__rate-change">
      @if( data.rateChange > 0) {
        <img ngSrc="icons/up.svg" width="10.5" height="5.73" alt="up arrow">
      } @else {
        <img ngSrc="icons/down.svg" width="10.5" height="5.73" alt="down arrow">
      }
    </div>
  </div>
}
